body {
  font-size: 36px;
}

.content {
  margin-left: auto;
  margin-right: auto;
  margin-top: 0px;
  margin-bottom: 0px;
}

.restaurant-name {
  text-align: center;
  font-size: 96px;
  padding-bottom: 0px;
  margin-bottom: 0px;
}

.category-list {
  font-size: 48px;
  list-style-type: none;
  padding: 0;
  text-align: center;
}

.category {
  clear: both;
}

.category-name {
  padding-top: 40px;
  clear: both;
}

.category-name-en {
  font-style: italic;
  font-size: 40px;
}

.item-list {
  font-size: 36px;
  list-style-type: none;
  padding: 0:
  color: red;
}

.item {
  padding-top: 10px;
  padding-bottom: 10px;
  clear: both;
}

.item-name {
  float: left;
  text-align: left;
  width: 80%;
  padding-right: 10px;
}

.item-name-en {
  font-style:italic;
}

.item-price {
  float: right;
  text-align: right;
  padding-right: 30px;
}
